.body{
    
}
section{
    background-color: rgba(48, 236, 149, 0.322);
}
.first-h1{
    font-size: 40px;
    font-weight: 700;
}
.first-img{
    height: 100%;
}

/* style-input-form */
.account{
    height: 100%;
    text-align: center;
}
.account p{
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
}
.account h3{
    padding: 15px;
}
.input{
    width: 50%;
    background-color:rgba(48, 236, 148, 0.082) ;
    border-radius: 5px;
}
.save-money{
    width: 110px;
}
.toast-form{
    width: 300px;
    height: 300px;
}
/* income input Error message */
.income-error{
    display: none;
}
/* calculate error message */
.error-calculate{
    display: none;
}
/* balance error message */
.error-baance{
    display: none;
}